<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
          Микроблог:
          <a href="{{ url_for('index') }}">Домой</a>
          <a href="{{ url_for('explore') }}">Все камеры</a>
          <a href="{{ url_for('explore') }}">Мои камеры</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Войти</a>
          {% else %}
          <div align="right">
            <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
          </div>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
